body {
  background-color: rgb(43, 40, 40);
  color: rgb(255, 255, 255);
  margin: auto;
  font-family: "Comfortaa", cursive;
  max-width: 1600px;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-left {
  display: flex;
}
.logo {
  width: 50px;
  margin-left: 30px;
  border-radius: 50px 50px 50px 50px;
}
.site-name {
  font-size: 30px;
  margin-left: 15px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.site-subname {
  font-size: 17px;
  margin-left: 8px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 0;
  text-decoration: none;
  color: rgb(128, 128, 128);
}
.navigation {
  display: flex;
}
.tgandpda {
  display: flex;
  height: 50px;
}
.navigation-link-pda,
.navigation-link-tg {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  margin-right: 20px;
  width: 75px;
  font-size: 15px;
  font-weight: 700;
  padding-top: 17px;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.navigation-link-pda:hover,
.navigation-link-tg:hover {
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.navigation-link-pda {
  background-image: url(/img/4pdab.jpeg);
}
.navigation-link-tg {
  background-image: url(/img/tgb.jpeg);
}
.rsm {
  border-left: 1px solid #464646;
}
.navigation-link-autor,
.navigation-link-git {
  margin-top: 5px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #9e9e9e;
  width: 75px;
  font-size: 15px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.navigation-link-autor:hover,
.navigation-link-git:hover {
  text-shadow: 0px 0px 5px rgb(128, 128, 128);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.onsite-navigation {
  background-image: -webkit-linear-gradient(top, black, rgb(43, 40, 40));
  height: 60px;
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
  justify-content: center;
  border-top: 1px solid #2c2c2c;
}
.onsite-navigation-link,
.dropbtn {
  padding-top: 10px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  width: 150px;
  font-size: 17px;
  font-weight: 500;
}
.ddown {
  width: 10px;
}
.container {
  margin: auto;
  width: 90%;
  max-width: 1500px;
  padding-bottom: 50px;
  padding-top: 50px;
}
/* Dropdown Button */
.dropbtn {
  font-family: "Comfortaa", cursive;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding-bottom: 10px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #00000073;
  width: 150px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.623);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #42424273;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ffffff28;
}
@media (max-width: 1000px) {
  .phone {
    min-width: 100px;
  }
  .phone-container {
    display: block;
  }
  .phone-links {
    display: flex;
    margin-top: 10px;
  }
  .phone-links-link {
    display: inline-block;
    margin-right: 5px;
  }
  .kernel-name {
    font-size: 20px;
  }
  .kernel-leftmiddle {
    display: block;
  }
  .kernel-middle {
    margin-left: 0;
    padding-top: 0;
  }
  .unknown-ico,
  .no-ico {
    width: 18px;
    height: 18px;
  }
  .yes-ico {
    height: 20px;
    width: 20px;
  }
  .content {
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  body::-webkit-scrollbar {
    width: 4px;
  }
  .header {
    display: block;
  }
  .header-left {
    justify-content: center;
  }
  .navigation {
    display: block;
  }
  .tgandpda {
    justify-content: center;
  }
  .navigation-link-tg {
    margin-left: 5px;
    margin-right: 0px;
  }
  .navigation-link-pda {
    margin-right: 5px;
  }
  .rsm {
    display: flex;
    justify-content: center;
    border-left: none;
  }
  .phone-links {
    justify-content: center;
  }
  .content {
    font-size: 13px;
  }
}
@media (max-width: 379px) {
  .header:before {
    padding-left: 5px;
    content: "Сайт не адаптирован под диcплей меньше 380 пикселей.";
    color: red;
  }
}
