body {
  background-color: rgb(43, 40, 40);
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: "Comfortaa", cursive;
  padding-top: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.alt-navigation {
  display: none;
}
.header-left {
  display: flex;
}
.logo {
  width: 50px;
  margin-left: 30px;
  border-radius: 50px 50px 50px 50px;
}

.site-name {
  font-size: 30px;
  margin-left: 15px;
  font-weight: 700;
  margin-top: 9px;

  text-decoration: none;
  color: rgb(255, 255, 255);
}
.site-subname {
  margin-left: 15px;
  margin-top: 7px;
  color: #9e9e9e;
}
.navigation {
  margin-top: 13px;
  display: flex;
}
.navigation-link-pda {
  text-decoration: none;
  color: #000000;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  background-color: rgb(199, 199, 199);
  border-radius: 30px 30px 30px 30px;
}
.navigation-link-tg {
  text-decoration: none;
  color: #000000;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px 30px 30px 30px;
}
.navigation-link-git {
  text-decoration: none;
  color: #9e9e9e;
  margin-right: 20px;
  font-size: 15px;
  padding: 5px;
}
.navigation-link-autor {
  text-decoration: none;
  color: #9e9e9e;
  font-size: 15px;
  padding: 5px;
}
.container {
  margin: auto;
  max-width: 90%;
  padding-bottom: 50px;
  padding-top: 50px;
}
.folder-name {
  margin-top: 25px;
  font-size: 25px;
  font-weight: 700;
}
.subfolder {
  margin-left: 25px;
  margin-top: 15px;
  font-size: 17px;
  font-weight: 700;
}
.subfolder-name-b {
  text-decoration: none;
  color: rgb(188, 211, 255);
}
.category {
  margin-left: 25px;
  margin-top: 10px;
}
.category-name {
  font-size: 16px;
  font-weight: 700;
}
.element {
  margin-left: 25px;
  margin-top: 5px;
}
.element-link {
  text-decoration: none;
  color: rgb(188, 211, 255);
}


@media (max-width: 829px) {
  .logo {
    width: 35px;
    height: 35px;
    margin-top: 7px;
  }
  .navigation {
    max-width: 150px;
    display: table-column;
  }
  .navigation-link-tg {
    margin-bottom: 15px;
    margin-right: 5px;
  }
  .navigation-link-pda {
    margin-right: 5px;
  }
  .nav-two {
    margin-top: 12px;
  }
  .navigation-link-git {
    margin-left: 25px;
  }
  .navigation-link-autor {
    margin-left: 14px;
  }
}
@media (max-width: 699px) {
  .navigation {
    display: none;
  }

  .alt-navigation {
    display: flex;

    justify-content: center;
    margin-top: 20px;
  }
  .nav-two {
    margin-top: 0;
  }
  .navigation-link-autor {
    margin: 0;
    margin-right: 5px;
  }
  .navigation-link-git {
    margin: 0;
    margin-right: 5px;
  }
}
@media (max-width: 499px) {
  .logo {
    margin-left: 0;
  }
  .element {
    margin-top: 7px;
  }
  .header-left {
    margin: auto;
  }
  .site-name {
    margin-top: 14px;
    margin-left: 10px;
    font-size: 20px;
  }
  .site-subname {
    display: none;
  }
  .navigation-link-git,
  .navigation-link-autor,
  .navigation-link-pda,
  .navigation-link-tg {
    font-size: 12px;
  }
  .container {
    padding-top: 30px;
  }
  .element-link {
    font-size: 15px;
  }
}
@media (max-width: 250px) {
  .logo,
  .navigation-link-git,
  .navigation-link-autor {
    display: none;
  }
  .header-left {
    margin: auto;
  }
  .site-name {
    font-size: 13px;
  }
  .folder-name {
    font-size: 13px;
  }
  .subfolder-name-b,
  .subfolder-name {
    font-size: 12px;
  }
  .category-name {
    font-size: 10px;
  }
  .element-link {
    font-size: 8px;
  }
}
