body {
  background-color: rgb(43, 40, 40);
  color: rgb(255, 255, 255);
  margin: auto;
  font-family: "Comfortaa", cursive;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  padding-top: 5px;
}
.header-left {
  display: flex;
  height: 50px;
}
.logo {
  width: 50px;
  margin-left: 30px;
  border-radius: 50px 50px 50px 50px;
}
.site-name {
  font-size: 30px;
  margin-left: 15px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.site-name:hover {
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.site-subname {
  font-size: 17px;
  margin-left: 8px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 0;
  text-decoration: none;
  color: rgb(128, 128, 128);
  font-weight: 700;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.site-subname:hover {
  text-shadow: 0px 0px 4px rgb(128, 128, 128);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.navigation {
  display: flex;
}
.tgandpda {
  display: flex;
  height: 50px;
}
.navigation-link-pda,
.navigation-link-tg {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  margin-right: 20px;
  width: 75px;
  font-size: 15px;
  font-weight: 700;
  padding-top: 17px;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.navigation-link-pda:hover,
.navigation-link-tg:hover {
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.navigation-link-pda {
  background-image: url(/img/4pdab.jpeg);
}
.navigation-link-tg {
  background-image: url(/img/tgb.jpeg);
}
.rsm {
  border-left: 1px solid #464646;
}
.navigation-link-autor,
.navigation-link-git {
  margin-top: 5px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #9e9e9e;
  width: 75px;
  font-size: 15px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.navigation-link-autor:hover,
.navigation-link-git:hover {
  text-shadow: 0px 0px 5px rgb(128, 128, 128);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.onsite-navigation {
  background-image: -webkit-linear-gradient(top, black, rgb(43, 40, 40));
  height: 15px;
}
.container {
  max-width: 1600px;
  margin: auto;
  width: 90%;
  max-width: 1500px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.phone {
  display: flex;
  height: 100px;
}
#names {
  position: relative;
  list-style-type: none;
  height: 20px;
  padding-left: 0;
  margin-bottom: 0;
}
.name {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.2s;
}
.showing {
  opacity: 1;
  z-index: 2;
}
.slide {
  text-align: left;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
}
.phone-info {
  width: 100%;
  display: block;
  font-size: 19px;
  margin-left: 30px;
}

.phone-label {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 50px;
}
.phone-card {
  position: relative;
  height: 100px;
  width: 50px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  z-index: 20;
}
.phone-card div {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}
.phone-card .phone-card-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
label:hover .phone-card {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.phone-icon {
  width: 50px;
  background-image: url(/img/phone.svg);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
}
#ext::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(0, 0, 0);
}
#ext::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 5px;
}
#ext::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(78, 78, 78);
}
#ext {
  overflow-x: hidden;
  min-width: 60px;
  list-style-type: none;
  overflow: auto;
  height: 100px;
  padding-left: 0;
  margin: 0;
}
.ext-l:hover {
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.ext-l {
  text-decoration: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.ext-e {
  color: rgb(250, 248, 248);
  text-align: center;
  margin-top: 5px;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 15px;
  padding-top: 3px;
  padding-bottom: 2px;
}
.kernel-block {
  display: flex;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 15px;
  margin-top: 50px;
}
.pack {
  text-align: center;
  border: 1px solid rgb(78, 78, 78);
  border-top: none;
  border-radius: 0px 0px 15px 15px;
  padding: 5px;
  width: 100px;
}
.kernel {
  display: block;
  width: 100%;
}
.kernel-leftmiddle {
  display: flex;
  margin-left: 30px;
}
.kernel-name {
  font-weight: 700;
  font-size: 25px;
}
.android-icon {
  height: 17px;
  margin-right: 10px;
}
.kernel-icon {
  height: 17px;
  margin-right: 10px;
  margin-left: 1px;
}
.kernel-version,
.android {
  display: flex;
  font-size: 16px;
}
.kernel-middle {
  display: block;
  margin-top: auto;
  margin-left: 50px;
  padding-top: 20px;
}
.middle {
  display: flex;
}
.unknown-ico {
  width: 21px;
  height: 21px;
  box-shadow: 0px 0px 10px rgb(53, 0, 0);
  border-radius: 100%;
}
.yes-ico {
  width: 22px;
  height: 22px;
  box-shadow: 0px 0px 8px rgba(0, 255, 34, 0.562);
  border-radius: 100%;
}
.no-ico {
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 8px rgb(255, 0, 0);
  border-radius: 100%;
}
.wifi-text,
.hid-text {
  margin-top: 3px;
  margin-left: 10px;
}

.accordion {
  width: 100%;
}
.accordion ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.accordion li {
  margin: 0;

  padding-top: 5px;
}
.accordion [type="radio"],
.accordion [type="checkbox"] {
  display: none;
}
.accordion label {
  display: block;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
.accordion ul li label:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.accordion [type="checkbox"]:checked ~ label {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  box-shadow: 0px 0px 9px rgb(255, 255, 255);
  margin-bottom: 10px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.accordion .content {
  font-weight: 300;
  padding: 0 30px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.vertical ul li {
  overflow: hidden;
}
.vertical ul li label {
  margin: 5px auto;
  width: 50px;
  height: 16px;
  border-radius: 15px;
  text-align: center;
  transition: all 0.5s ease-out;
}
.kernel-downimg {
  height: 10px;
  width: 30px;
}
.vertical ul li .content {
  height: 0px;
  border: 0;
  transition: all 0.5s ease-out;
}
.vertical [type="checkbox"]:checked ~ label ~ .content {
  height: 200px;
}

.kernel-down {
  border-top: 1px solid rgb(78, 78, 78);
  width: auto;
}
.kernel-download-label {
  cursor: pointer;
}
.kernel-card {
  position: relative;
  height: 40px;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 700ms;
  transition: all 700ms;
  z-index: 20;
}
.kernel-card div {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.kernel-card .kernel-card-back {
  border-radius: 0px 0px 0px 15px;
  color: #fff;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
input {
  display: none;
}
:checked + .kernel-card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
.kernel-card-front {
  padding-top: 12px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.kernel-card-front:hover {
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.kernel-card-back {
  display: flex;
  justify-content: center;
  background-color: rgb(43, 40, 40);
}
.download {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  display: block;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 10px;
  padding: 6px;
  margin: 4px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.download:hover {
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.kernel-right {
  margin-left: auto;
  border-left: 1px solid rgb(78, 78, 78);
}
.autor {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
.avatar {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-image: url(/img/person.svg);
  background-position: center center;
  background-size: cover;
}
.nick {
  margin-top: 14px;
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.nick:hover {
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.source {
  border: 1px solid rgb(78, 78, 78);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 15px;
  margin-bottom: 5px;
  text-align: center;
}
.source-button {
  text-decoration: none;
  color: #ffffff;
  white-space: pre;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.source-button:hover {
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.id {
  margin: 0;
  text-align: center;
  color: rgb(43, 40, 40);
}
.id:hover {
  color: black;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
@media (max-width: 1000px) {
  .kernel-leftmiddle {
    display: block;
  }
  .kernel-middle {
    margin-left: 0;
    padding-top: 0;
  }
  .unknown-ico,
  .no-ico {
    width: 18px;
    height: 18px;
  }
  .yes-ico {
    height: 20px;
    width: 20px;
  }
}
@media (max-width: 750px) {
  .header {
    display: block;
    padding-bottom: 10px;
  }
  .header-left {
    justify-content: center;
  }
  .navigation {
    display: block;
  }
  .tgandpda {
    justify-content: center;
  }
  .navigation-link-tg {
    margin-left: 5px;
    margin-right: 0px;
  }
  .navigation-link-pda {
    margin-right: 5px;
  }
  .rsm {
    display: flex;
    justify-content: center;
    border-left: none;
  }
  #ext {
    display: none;
  }
  .kernel-block {
    display: block;
  }
  .kernel {
    border-bottom: 1px solid rgb(78, 78, 78);
    border-radius: 15px;
  }
  .pack {
    margin: auto;
  }
  .kernel-name {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .kernel-card .kernel-card-back {
    border-radius: 0px 0px 15px 15px;
  }
  .kernel-right {
    border: none;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .autor {
    margin-top: 0;
    padding: 0;
    margin-right: 10px;
  }
  .avatar {
    height: 35px;
    width: 35px;
  }
  .nick {
    margin-top: 10px;
  }
  .source {
    margin: 0px;
    padding-top: 7px;
    height: 15px;
  }
  .source-button {
    font-size: 15px;
  }
  .id {
    display: none;
  }
}
@media (max-width: 379px) {
  .header:before {
    content: "Сайт не адаптирован под диплей меньше 380 пикселей.";
    color: red;
  }
}
